# activation de la réécriture d'urls
Options +FollowSymlinks
RewriteEngine on


# un commentaire
RewriteRule ^login$  index.php?page=login [L]
RewriteRule ^signUp$  index.php?page=signUp [L]
RewriteRule ^Back-Office$  index.php?page=backOffice [L]
RewriteRule ^Book$  index.php?page=book [L]

RewriteRule ^menus$ index.php?page=menus [L]
RewriteRule ^Create-Menu$ index.php?page=menus&action=create [L]
RewriteRule ^UpdateMenu-([0-9]+)$ index.php?page=menus&action=update&id=$1 [L]

RewriteRule ^meals$ index.php?page=meals [L]
RewriteRule ^Create-Meal$ index.php?page=meals&action=create [L]
RewriteRule ^UpdateMeal-([0-9]+)$ index.php?page=meals&action=update&id=$1 [L]

RewriteRule ^categories$ index.php?page=categories [L]
RewriteRule ^Create-Category$ index.php?page=categories&action=create [L]
RewriteRule ^UpdateCategory-([0-9]+)$ index.php?page=categories&action=update&id=$1 [L]